./__pycache__
config/__pycache__
data_generation/__pycache__
project_entry/__pycache__
shallow_learning/__pycache__
visual/__pycache__
*.log
3rd_party
jupyter
.idea
.ipynb_checkpoints
data
wheels
*.egg-info
build
*.pyc
